@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    font-family: 'krona one';
    box-sizing: border-box;
    background-color: black;
    color: white;

}



.apresentacao {
    display: flex;
    align-items: center;
    height: 100vh;
    background-color: black;
    color: white;
    padding: 20px;
    justify-content: space-between;

}

.titulo-destaque {
    color: #22D4FD;
}

